@import url(https://fonts.googleapis.com/css?family=Audiowide);
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: linear-gradient(to right, #ecc086, #f4be9d);
  color: white;
  font-family: "Arial";
  min-height: 100vh;
}
header {
  font-size: 2rem;
  font-family: "Audiowide";
  color: #ff6f47;
}

header,
form {
  min-height: 30vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
form input,
form button {
  min-width: 5%;
  padding: 1rem;
  font-size: 1.5rem;
  border: none;
  background: white;
}
form button {
  font-size: 1.6rem;
  color: #ff6f47;
  background: #f7fffe;
  cursor: pointer;
  transition: all 0.3s ease;
}
form button:hover {
  background: #f69277;
  color: white;
}
.todo-container {
  padding: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.todo-list {
  min-width: 65%;
  list-style: none;
}

.todo {
  margin: 0.5rem;
  background: white;
  border-radius: 0.5rem;
  font-size: 1.3rem;
  color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all 1s ease;
}

.filter-todo {
  padding: 1.5rem;
}
.todo li {
  flex: 1;
}

.trash-btn,
.complete-btn {
  background: #ff4747;
  color: white;
  border: none;
  padding: 1rem;
  cursor: pointer;
  font-size: 1rem;
  transition: all 0.2s ease-in-out;
}

.edit-btn {
  background-color: #4c98af;
  color: white;
  border: none;
  padding: 1rem;
  cursor: pointer;
  font-size: 1rem;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.complete-btn {
  background: rgb(11, 212, 162);
}

.edit-btn:hover,
.trash-btn:hover,
.complete-btn:hover,
button:hover {
  transform: scale(0.95);
}
.todo-item {
  padding: 0rem 0.5rem;
}

.fa-trash,
.fa-check,
.fa-edit {
  pointer-events: none;
}

.fall {
  transform: translateY(10rem) rotateZ(20deg);
  opacity: 0;
}

.completed {
  text-decoration: line-through;
  opacity: 0.5;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  outline: 0;
  box-shadow: none;
  border: 0 !important;
  background-image: none;
}

.select {
  margin: 1rem;
  position: relative;
  overflow: hidden;
}
select {
  color: #ff6f47;
  font-weight: bold;
  font-family: "Poppins", sans-serif;
  cursor: pointer;
  width: 12rem;
}

.select::after {
  content: "\25BC";
  position: absolute;
  top: 0;
  right: 0;
  padding: 1.4rem;
  background: #ff6f47;
  cursor: pointer;
  pointer-events: none;
}

.due-date {
  padding: 0.5rem;
  margin-left: 0.5px;
  font-size: 1rem;
  color: #666;
  cursor: pointer;
}

.due-date:hover {
  font-weight: bold;
  color: black;
}

.todo-input,
.due-date-input,
.todo-button,
.filter-todo {
  width: 200px;
  height: 60px;
  padding: 10px;
  margin-right: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

.todo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.todo-list {
  border: 2px solid #ccc;
  border-radius: 4px;
  padding: 20px;
  width: 70%;
  max-width: 500px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Pomodoro.css */

.pomodoro-container {
  font-family: "Audiowide";
  text-align: center;
  background-color: #fa7e5b;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin: 5px auto;
  width: 48%;
  padding: 20px;
  box-sizing: border-box;
}

.timer-display {
  font-size: 40px;
  margin: 15px 0;
  color: white;
}

.controls {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-bottom: 30px;
}

button {
  padding: 10px 20px;
  font-size: 15px;
  border: none;
  border-radius: 5px;
  background-color: #e8b943;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #efb011;
}

.settings {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

label {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 15px;
}

input[type="number"] {
  padding: 5px 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 15px;
}

.app-container {
  display: flex;
  justify-content: space-between;
}

@media (max-width: 768px) {
  header {
    font-size: 1.5rem;
  }

  form {
    flex-direction: column;
    min-height: 40vh;
  }

  form input,
  form button {
    width: 100%;
    margin-bottom: 1rem;
  }

  .todo-list {
    width: 90%;
    max-width: 90%;
  }

  .todo-container {
    padding: 10px;
  }

  .todo-list {
    padding: 10px;
  }

  .pomodoro-container {
    width: 100%;
    margin-top: 20px;
  }
  .todo-input,
  .due-date-input,
  .todo-button,
  .filter-todo {
    width: 130px;
    height: 50px;
    padding: 5px;
    margin-right: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  header {
    font-size: 1.8rem;
  }

  .pomodoro-container {
    width: 45%;
    padding: 15px;
  }
  .todo-input,
  .due-date-input,
  .todo-button,
  .filter-todo {
    width: 150px;
    height: 50px;
    padding: 10px;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
  }
}

@media (min-width: 1025px) {
  header {
    font-size: 2rem;
  }

  .app-container {
    flex-wrap: wrap;
  }

  .pomodoro-container {
    width: 48%;
    padding: 20px;
    box-sizing: border-box;
  }
}
